{% extends 'catalog/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 text-center border-danger shadow-sm">
                <h1 class="mb-4 text-danger">Подтверждение удаления</h1>

                <p class="lead">
                    Вы уверены, что хотите удалить статью
                    <strong>"{{ object.title }}"</strong>?
                </p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-lg mt-3">Да, удалить</button>
                    <a href="{% url 'blog:view' slug=object.slug %}" class="btn btn-secondary btn-lg mt-3 ms-2">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
