{% extends 'catalog/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Добавить новый товар</h1>

            <div class="card p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success mt-3">Сохранить</button>
                    <a href="{% url 'catalog:home' %}" class="btn btn-secondary mt-3 ms-2">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
